:root {
    --header-height: 60px;
    --bg-body:#fff;
    --txt-body:#000;
    --bg-nav: #fff;
    --color-primary:#0da4a4f1;
    --color-menu:#515555f1;
    --btn-color:#000;
}

body.dark {
    --bg-body:#222;
    --txt-body:#f0f0f0;
    --bg-nav: #111;
    --btn-color:#fff;
    --color-menu:#2a2b2bf1;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--txt-body);   
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Utilities */
.section {
    padding: 40px 0 20px;
}

.section__title {
    position: relative;
    text-align: center;    
}

.section__title::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-primary);
    transform: translate(-50%);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    color: var(--btn-color);
    border: none;
    padding: .75em 1.2em;
    cursor: pointer;
}

.main {
    overflow: hidden;
}

.header {
    background-color: var(--bg-nav);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px #000;
    z-index: 1000;
}

.nav {
    color: var(--txt-body);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--txt-body);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo i {
    color: var(--color-primary, #0da4a4f1);
    font-size: 38px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 20px;
}

.menu__link {
    color: var(--txt-body);
    font-weight: 600;
    text-decoration: none;
    transition: color .3s, font-size .3s;
}

.menu__link:hover {
    font-size: 18px;
    color: var(--color-primary);
}

.menu__link.active {
    color: var(--color-primary);
}

.btn-resume {
    background-color: #0da4a4f1;
    border: 2px solid transparent;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color .5s;
}

.btn-resume:hover {
    background-color: #fff;
    border: 2px solid #0da4a4f1;
    color: #0da4a4f1;
}

/* Dispositivos medianos */
@media (max-width: 900px){
    .menu {
        text-align: center;
        background-color: var(--color-menu);
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        transition: right .5s;
    }

    .show-menu {
        right: 0;
    }

    .menu__list {
        flex-direction: column;
        gap: 30px;
    }

    .menu__link {
        color: #e9e8e8b9;
        font-size: 24px;
        font-weight: 900;
        text-decoration: none;
        transition: color .3s, font-size .3s;
    }

    .menu__link:hover {
        color: #fff;
        font-size: 30px;
    }

    .logo {
        font-size: 24px;
        gap: 10px;
    }

    .logo i {
        font-size: 35px;
    }

    .btn-resume {
        background-color: transparent;
        border: 2.5px solid #ffffffda;
        border-radius: 10px;
        color: #ffffffc8;
        font-weight: 600;
        text-decoration: none;
        width: max-content;
        display: block;
        margin: 0 auto;
        font-size: 20px;
        transition: background-color .5s;
    }
    
    .btn-resume:hover {
        background-color: #ffffff;
        color: var(--color-primary);
    }
}

.btn-close {
    position: absolute;
    background-color: #1b8080b9;
    color:#ffffffda;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 48px;
    height: 48px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .5s;
}

.btn-close:hover {
    background-color: #266363fb;
}

.btns {
    display: flex; 
}

.btn-open {
    background-color: transparent;
    font-size: 28px;
    padding: .5em;
}

.btn-theme {
    background-color: transparent;
    font-size: 22px;
    padding: .5em;
}

.btn-lang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lang a {
    color: var(--txt-body);
    text-decoration: none;
}

/* Hero */
.hero {
    background: linear-gradient(0deg, #0000008c, #00000047), url(/assets/img/herobg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.hero__name {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 3.1rem;
}

.hero__content-img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.hero__img {
width: 100%;
height: 100%;
object-fit: cover;
transition: transform .5s;
}

.hero__img:hover {
    transform: scale(1.1);
}

.hero__animation {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: saludo-animation 2.5s infinite;
}

@keyframes saludo-animation {

    0%{
        transform: rotate(0deg);
    }

    10%{
        transform: rotate(14deg);
    }

    20%{
        transform: rotate(-4deg);
    }

    30%{
        transform: rotate(12deg);
    }
    
    40%{
        transform: rotate(-8deg);
    }

    60%{
        transform: rotate(10deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}

.hero__description {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: .5em 1em;
    background-color: var(--color-primary);
    border-radius: 12px;
    min-width: 300px;
}

.social {
    list-style: none;
    padding: 0;
    margin: 30px 0;

    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.social__link {
    color: #fff;
}

.social__link i {
    font-size: 24px;
    transform: scale(1);
    transition: color .5s, transform .3s;
}

.social__link i:hover {
    transform: scale(1.3);
    color: var(--color-primary);
}

/* About */
.about p{
    font-size: 1rem;
}

/* Skills */
.skills__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.skills__card {
    background-color: #00000029;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skills__icon {
    width: 50px;
}

.skills__text {
    display: block;
    text-align: center;
}

.skills__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills__list {
    list-style: none;
    padding: 0;
}

/* Contact */
.contact__content {
    background: linear-gradient(0deg, #01010138, #00000046), url(/assets/img/formbg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    border-radius: 20px;
    max-width: 60%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 3fr));
    place-items: center;
    gap: 20px;
}

.contact__container {
    margin: auto;
}

.contact__form {
    margin: auto;
    padding-bottom:9px;
}

.contact__redes {
    list-style: none;
    padding: 0;
    margin-top: 30px ;
    margin-bottom: 25px;

    display: flex;
    width: 100%;
    justify-content:center;
    gap: 20px;
}

.contact__link {
    color: var(--txt-body);
}

.contact__link i {
    font-size: 24px;
    transform: scale(1);
    transition: color .5s, transform .3s;
}

.contact__link i:hover {
    transform: scale(1.3);
    color: var(--color-primary);
}

textarea {
    max-width: 200px;
    max-height: 300px;
    background-color: #ffffff8d;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: transparent;
    border-right: transparent;
}

input {
    margin: 8px 0;
    background-color: #ffffff8d;
    border-bottom: transparent;
    border-right: transparent;
}


@media (min-width: 901px) {
    :root {
        --header-height: 90px;
    }

    .section__title {
        font-size: 1.75rem; 
    }

    .logo i {
        font-size: 32px;
    }

    .logo {
        font-size: 22px;     
    }

    .btn-close {
        display: none;
    }

    .btn-open {
        visibility: hidden;
    }

    .hero__container {
        flex-direction: row-reverse;
        gap: 60px;
    }

    .hero__content-img {
        border-radius: 10px;
    }

    .hero__title {
        font-size: 3rem;
    }
    
    .hero__name {
        font-size: 4rem;
    }

    .hero__description {
        min-width: 300px;
    }

    .social {
        gap: 40px;
    }

    .about p{
        font-size: 1.2rem;
    }

    .contact__content {
        grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));     
    }
    
}

@media (min-width: 1024px) {
    .section__title {
        font-size: 2rem; 
    }

    .logo i {
        font-size: 2.6rem;
    }

    .logo {
        font-size: 1.8rem;     
    }

    .hero__content-img {
        width: 375px;
        height: 375px;
    }

    .hero__title {
        font-size: 4rem;
    }
    
    .hero__name {
        font-size: 5rem;
    }

    .hero__description {
        min-width: 2rem;
    }

    .social__link i {
        font-size: 32px;
    }

    .about p{
        font-size: 1.4rem;
    }

    .skills__content {
        flex-direction: row;
        align-items: center;
    }

    .skills__container {
        width: 60%;
    }

    .skills__subtitle {
        font-size: 1.5rem;
    }

    .skills__item {
        font-size: 1.25rem;
    }
}

.box {
    border: 1px solid black;
    margin-top: 100px;
    width: 100px;
    height: 200px;
}